* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.display {
    background-color: gray;
    height: 100px;
    font-size: 100px;
    border-radius: 10px;
    color: #eee;
}

.wrapper {
    background-color: #ddd;
    margin: auto;
    height: 500px;
    width: 500px;
    border-radius: 10px;
}

.wrapper > div{
    margin: 10px;
}

button {
    background-color: #555;
    border: none;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 32px;
    border-radius: 3px;
}

.numpad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;
}

.operator {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 2fr;
    gap: 0.5em;
}

.operator button{
    background-color: cornflowerblue;
}

button:hover {
    background-color: blueviolet;
}